
div, h1, input, button {
  font-family: Sunshiney, HelveticaNeue, Helvetica;
  font-size: 20px;
}

.content {
  padding: 15px;
}

.button.question-button {
  background-color: white;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  margin: 5px 5px 5px 0px;
  cursor: pointer;
  display: inline-block;
}

.question-button.is-answered {
  background-color: #c0ffc0;
}
.question-button.need-lock {
  background-color: #fffcb4;
}
.question-button.need-lock.is-disabled {
  background-color: #eee;
}

.question-button:hover {
  background-color: #eee;
}

.question-button.is-answered:hover {
  background-color: #8ec08e;
}

.correct {
  color: #23bf56;
}


.question-view {
}

.question {
  margin-top: 20px;
}

.button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  padding: 0;
}

.answer-textfield {
  width: 95%;
  height: 20px;
  margin: 10px 0px;
  border-radius: 5px;
  display: block;
}

.answered {
  margin: 20px 0px;
}

.attempts {
  margin: 20px 0px;
  color: #ffa0a0;
}

.score-comment {
  color: #888;
  font-size: 15px;
  margin-top: 10px;
}

